{
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 13
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es2022": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-new": "off",
    "no-console": "error",
    "no-param-reassign": "off",
    "no-alert": "off",
    "no-undef": "off",
    "prefer-template": "off",
    "max-depth": ["error", 2],
    "eol-last": ["error", "always"]
  }
}
