{
  "rules": {
    "max-depth": ["error", 2],
    "indent": ["error", 2],
    "quotes": ["error", "double"],
    "max-lines-per-function": ["error", 15]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "es2022": true
  }
}
